*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.Myntra_logo{
    height: 45px;
    
}

.logo_container{
    margin-left: 4%;
}

.action_bar{
    margin-right: 4%;
}

.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}

.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}

.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0; 
}

/* Action bar / profile/wishlist/bag */
.action_bar{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 4%;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #282c3f;
    text-decoration: none;
    font-size: 12px;
}
.action_icon{
    font-size: 28px;
    line-height: 1;
    color: #282c3f;
}
.action_name{
    margin-top: 3px;
    font-weight: 600;
    text-transform: none;
}

/*Main Section*/
.banner_container{
    margin: 40px 0;
}

.banner_image{
    width: 100%;

}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item{
    width: 250px;
}

.footer_container{
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a{
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright{
    color: #94969f;
    text-align:center;
    padding: 15px;

}